.container {
    position: relative;
  }
  
  
  .text-block {
    position: absolute;
    left: 300px;
    top: 600px;
bottom: 600px;
right: 300px;
    color:gold;
    font-size: 20px;
    
    

    
    
  }
  